.loginCss{
    background-image: url(https://media.istockphoto.com/photos/elegance-pink-office-workplace-of-white-and-pink-stationery-bouquet-picture-id1035977700?k=20&m=1035977700&s=170667a&w=0&h=oFSyEkp__7_c6L338Wi2N4-jVpS2Ov-JT2LmgIzfSbc=);
    background-color: rgba(236, 231, 231, 0.2);
  background-blend-mode: overlay;
 background-repeat: no-repeat;
 background-size: cover;

 padding-bottom: 200px;
 margin: 20px;
}
.loginCss form{
    align-items: center;
    justify-content: center;
  
    max-width: auto;
    text-align: center;
}
.loginCss form input{
    width: 50vw;
    margin: 5px;
    padding: 15px;
   
}